## Words

In [1]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [2]:
# your code here
for word in words :
    print(word.upper())

PLAY
FILLING
BAR
THEATRE
EASYGOING
DATE
LEAD
THAT
STORY
ISLAND

**Create a new list containing only words with 5 or more letters**

In [3]:
# your code here
new_list=['mehdhar','saggaf','tariq','khaled','ammar']

**Print the first word starting with "t"**

In [4]:
# your code here
for name in new_list :
    if name[0] == 't':
        print(name)
        if name[0]=='t':
            break

tariq

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [3]:
# your code here
new_list=[]
for num in range(1, 11):
    num=num **2
    new_list.append(num)
print(new_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [2]:
# your code here
new_list2=[]
for num in range(1, 11):
    if num % 2 != 0:
        num_2=num **2
        new_list2.append(num_2)
print(new_list2)

[1, 9, 25, 49, 81]

**Create a list with the squares of all multiples of 8 below 1000**

In [7]:
# your code here
for num in range(1, 1001):
    if num % 8 == 0:
        print(num)

8
16
24
32
40
48
56
64
72
80
88
96
104
112
120
128
136
144
152
160
168
176
184
192
200
208
216
224
232
240
248
256
264
272
280
288
296
304
312
320
328
336
344
352
360
368
376
384
392
400
408
416
424
432
440
448
456
464
472
480
488
496
504
512
520
528
536
544
552
560
568
576
584
592
600
608
616
624
632
640
648
656
664
672
680
688
696
704
712
720
728
736
744
752
760
768
776
784
792
800
808
816
824
832
840
848
856
864
872
880
888
896
904
912
920
928
936
944
952
960
968
976
984
992
1000

## People

In [8]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [9]:
# your code here
total=0
for peoples in people :
    total+=1
print(f"total people is : {total}")

total people is : 5

**How many people have kids**?

In [10]:
# your code here
total_person_have_kids=0
for person in people :
    if person["n_kids"] > 0:
        total_person_have_kids+=1
print(f"the total number of person that have kids : {total_person_have_kids}")

the total number of person that have kids : 4

**How many kids do they have in total?**

In [14]:
# your code here
total_kids=0
for kids in people:
    total_kids=total_kids+ kids["n_kids"]
print (total_kids)

10

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [17]:
# your code here
people_affter_one_year=[]
for person in people :
    new_person= person.copy()
    new_person["age"]+=1
    if new_person["name"][-1] == 'a':
        new_person["n_kids"]+=1
    people_affter_one_year.append(new_person)
print(people_affter_one_year)

[{'name': 'Juan', 'age': 35, 'n_kids': 2}, {'name': 'Pepe', 'age': 28, 'n_kids': 0}, {'name': 'Sonia', 'age': 42, 'n_kids': 2}, {'name': 'Lucía', 'age': 23, 'n_kids': 3}, {'name': 'Leo', 'age': 56, 'n_kids': 5}]